<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/semantic.css">
</head>
<body>
    <!-- 페이지 머릿글 부분 -->
    <div style="margin-left: auto;" class="ui center aligned segment">
        <form action="/result" method="get" accept-charset="utf-8" class="ui center aligned form">
            <center>
                <table border="0">
                    <tr>
                        <th>
                            <div class="ui small image">
                                <a href="/"><img src="/logo.PNG"></a>
                            </div>
                        </th>
                        <th>
                            <div class="field">
                                <input type="text" size="50" name="query" id="query" placeholder="Search...">
                            </div>
                        </th>
                        <th>
                            <button class="ui button" type="submit">Search</button>
                        </th>
                    </tr>
                </table>
            </center>
        </form>
    </div>
    <!-- 페이지 머릿글 부분 끝 -->

    <!-- 페이지 내용 -->
    <div class="ui middle aligned stackable container">
        <center>
            <table border="0">
                <tr>
                    <!-- 중간 왼쪽 메뉴 시작 -->
                    <td valign="top" width="20%">
                        <div class="ui vertical menu">
                            <a class="item">
                                <div style="line-height:1.4em" class="ui segment" id="loginArea">
                                    <form action="/account/login" method="post" class="ui center aligned form" >
                                        <div class="card">
                                            <input type="text" name="loginID" id="loginID" placeholder="ID" required >
                                            <input type="password" name="loginPW" id="loginPW" placeholder="Password" required >
                                            
                                            <p></p>
    
                                            <div class="extra content">
                                                <button type="submit" class="fluid ui primary button" >로그인<i class="right floated id card outline icon" ></i></button>
                                                <button type="button" class="fluid ui secondary button" onclick="location.href='/signup'"; >회원가입<i class="right floated id card icon"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </a>
                            <div class="item">
                                회원정보
                                <div class="menu">
                                    <a class="item" href="/account/info" >회원정보 변경</a>
                                    <a class="item" href="/account/password" >비밀번호 변경</a>
                                    <a class="item" href="/account/withdrawal" >회원탈퇴</a>
                                </div>
                            </div>
                            <a class="item" href="/shipping/1">
                                주문/배송 조회
                            </a>
                            <a class="item" href="/seller">
                                판매자 메뉴
                            </a>
                        </div>
                    </td>
                    <!-- 중간 왼쪽 메뉴 끝 -->
                    <td valign="top">
                        <h4 class="ui dividing header">회원 탈퇴</h4>
                        <p></p>
                        <form action="/account/withdrawal" method="post" onsubmit="return Change()">
                            <table class="ui definition table">
                                <input type="hidden" id="loginID" name="loginID" value="<%=row.id%>"/>
                                <tbody>
                                    <tr>
                                        <td>현재 비밀번호</td>
                                        <td><div class="ui input">
                                            <input type="password" id="pw1" name="pw1" onchange="IsPasswordOK()"/>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td>비밀번호 재입력</td>
                                        <td><div class="ui input">
                                            <input type="password" id="pw2" name="pw2" onchange="IsPasswordOK()"/>
                                        </div></td>
                                        <td width="20%">
                                            <button id="passwordAgainButton" class="ui disabled icon button">
                                                <i id="passwordAgainIcon" class="exclamation triangle icon"></i>
                                            </button>
                                        </td>
                                        <td>
                                            회원 탈퇴시 개인 정보는 모두 파기됩니다.
                                        </td>
                                    </tr>
                                </tbody>
                                <input type="hidden" id="loginPW" name="loginPW" value="<%=row.password%>"/>
                            </table>
                            <div class="ui menu">
                                <div class="right menu">
                                    <div class="item">
                                        <button type="submit" class="ui secondary button">회원 탈퇴</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <!-- 페이지 내용 끝 -->

    <!-- 사용되는 함수 정의 부분 -->
    <script type="text/javascript">
        // 코드 실제로 실행되는 부분

        ShowLeftMenu(); // 로그인이 되어 있을 경우 다른 메뉴 부분을 출력하는 함수

        function ShowLeftMenu() {
            if(getCookie("id")) {
                var innerHTML = "";

                innerHTML += '<div class="content">';
                innerHTML += '<div class="meta">';
                innerHTML += '방문을 환영합니다!'
                innerHTML += '</div>';
                innerHTML += '</div>';
                innerHTML += '<div class="header">';
                innerHTML += '<b>' + getCookie("id") + '</b>';
                innerHTML += '</div>';
                innerHTML += '<p></p>';
                innerHTML += '<div class="extra content">';
                innerHTML += '<button class="fluid ui primary button" onclick="location.href=\'/account/info\'" >회원정보<i class="right floated id card outline icon" ></i></button>';
                innerHTML += '<button class="fluid ui grey button" onclick="Logout()"; >로그아웃<i class="right floated sign out alternate icon"></i></button>';
                innerHTML += '<button class="fluid ui green button" onclick="location.href=\'/basket\'" ;>장바구니<i class="right floated shopping basket icon"></i></button>';
                innerHTML += '</div>';

                document.getElementById("loginArea").innerHTML = innerHTML;
            }
        }

        function getCookie(id) { // 페이지의 쿠키 정보를 확인하는 함수
            var value = document.cookie.match('(^|;) ?' + id + '=([^;]*)(;|$)');
            return value ? value[2] : null;
        }

        function deleteCookie(id) { // 페이지의 쿠키를 삭제하는 함수
            document.cookie = id + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;' + '; path=/';
        }

        function Logout() { // 로그아웃 하는 함수
            deleteCookie("id");
        }

        function Change() { // 변경 사항을 확인하는 함수
            if (document.getElementById("passwordAgainButton").className != "ui disabled green icon button") {
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }
        }

        function IsPasswordOK() { // 비밀번호 결과에 따른 아이콘 출력 함수
            var password = document.getElementById('pw1').value;
            var passwordAgain = document.getElementById('pw2').value;
            
            if (password == passwordAgain && passwordAgain != "") {
                document.getElementById("passwordAgainButton").className = "ui disabled green icon button";
                document.getElementById("passwordAgainIcon").className = "check icon";
            }
            else {
                document.getElementById("passwordAgainButton").className = "ui disabled icon button";
                document.getElementById("passwordAgainIcon").className = "exclamation triangle icon";
            }
        }
    </script>
</body>
</html>